# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Conda and VS Code configurations
.conda/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ML Models and Beyond
# Models/
# Model/
# *.joblib
# *.pkl
# *.onnx
# *.onnx.data
# *.gv

# OS files
.DS_Store
Thumbs.db

# CAD & Simulation Logs / Temporary Files
*.log
*.svf
*.status
*.pvs
*.bak

/Books
/Archive
/Codes/Archive/
res.txt